.uiowa-footer--default {
  background-color: #000000;
  padding: 1em 0;
}

.uiowa-footer--default .col-left .block,
.uiowa-footer--default .col-right .block {
  margin-bottom: 1.3em;
}

.uiowa-footer--default .block--lockup img {
  max-width: 350px;
}

.uiowa-footer--default .block--additional-info {
  color: #ffffff;
}

.uiowa-footer--default .block--additional-info a {
  color: #999999;
}

.uiowa-footer--default .block--additional-info a:hover,
.uiowa-footer--default .block--additional-info a:focus {
  color: #ffcd00;
}

.uiowa-footer--default ul.menu {
  list-style-type: none;
  padding: 0;
}

.uiowa-footer--default .block--social-media-menu .menu {
  display: flex;
}
.uiowa-footer--default .block--social-media-menu .menu a {
  color: #999999;
  display: block;
  padding: 1rem 0.5rem 1rem 0;
  font-size: 1rem;
}
.uiowa-footer--default .block--social-media-menu .menu a.fa-icon {
  padding: 0.5rem;
  font-size: 1.8rem;
}
.uiowa-footer--default .block--social-media-menu .menu a:hover,
.uiowa-footer--default .block--social-media-menu .menu a:focus {
  color: #ffcd00;
}
.uiowa-footer--default .block--social-media-menu .menu a.fa-icon .menu-link-title {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.uiowa-footer--default .block--custom-menu .menu li.menu-item {
  margin-bottom: 1rem;
}

.uiowa-footer--default .block--custom-menu .menu a {
  color: #ffcd00;
}

.uiowa-footer--login-link {
  background-color: #343a40;
}
.uiowa-footer--login-link a.hawkid-login {
  color: white;
  font-size: 80%;
}
